@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@400;500&display=swap');
:root{
    --primary-color: #FF6E6C;
}


body{
    background: #f2f2f2;
    margin: 0;
    font-family: 'Raleway';
}

.navbar{
    background: white;
    padding: 2em;

    .logo{
        text-decoration: none;
        font-weight: 500;
        color: black;
        font-size: 32px;

        span{
            color: var(--primary-color);
            font-weight: bold;
        }
    }

    nav{
        display: none;   
    }

    nav.menu-btn{
        display: block;
    }

    nav{
        position: fixed;
        z-index: 999;
        width: 66%;
        right: 0;
        top: 0;
        background: #FFFFFF;
        height: 100vh;
        padding: 1em;

        ul.primary-nav{
            margin-top: 5em;
        }

        li{

            a{
                color: #1F1235;
                text-decoration: none;
                display: block;
                padding: 1em;
                font-size: 1.3em;
                text-align: right;

                &:hover{
                    font-weight: bold;
                }
            }
        }

    }

    .mobile-menu-exit{
        float: right;
        margin: .5em;
        cursor: pointer;
    }
    
    .container{
        display: flex;
        place-content: space-between;
    }

    .mobile-menu{
        cursor: pointer;
        position: relative;
        background: #FFFFFF;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    }
}

a{
    color: #2D334A;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section{
    padding: 29px 59px 40px 59px;
}

.hero{
    text-align: center;
}

.right-col{

    .overline{
        margin-top: 40px;
        text-transform: uppercase;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height */

         letter-spacing: 0.8em;

        color: #1B1425;
    }

    h1{
        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 35px;
        line-height: 41px;
        text-align: center;
        margin-top: 0.8em;
        color: #1F1235;
    }

    h2{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.1em;
        color: #1B1425;
    }

    .primary-cta{
        background: var(--primary-color);
        color: #1F1235;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1em 2em;
        font-size: 18px;
        border-radius: 5em;
        font-weight: 650;
        display: inline-block;
        margin-top: 1.2em;
        margin-bottom: 1.2em;
    }

   .wrapper{
       display: block;
       padding-top: 40px;
       max-width: 450px;
       /*come back to this after consulting 1st video*/ 
       
       .search-input{
           position: relative;
           background: white;
           width: 100%;
           border-radius: 5px;
           box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);

        
           input{
               height: 55px;
               width: 280px;
               outline: none;
               border: none;
               border-radius: 5px;
               padding: 0px 60px 0px 20px;
               font-size: 16px;
               box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
               font-family: Roboto;
               font-style: normal;
               font-weight: normal;
               color: #1F1135;
               opacity: 0.5;
               line-height: 16px;
               text-transform: lowercase;
           }

           img{
               margin-right: 0;
               position: absolute;
               top: 32%;
               right: 0;
               left: 84.44%; 
               opacity: 0.5;
               cursor: pointer;
           }

           .autocom-box{
              padding: 0px;
              max-height: 280px;
              overflow-y: auto;
              text-align: left;
              opacity: 0;
              pointer-events: none;

              li{
                  list-style: none;
                  padding: 8px 12px;
                  width: 90%;
                  cursor: default;
                  border-radius: 3px; 
                  display: none; 
              }

              li:hover{
                  background: #efefef;
              }
           }
        }  
    }      
}

.hero-img{
    width: 90%;
    margin-top: 3em;
}

section.features-section{
    background: #F4EFFC;
    color: #1F1135;
    
  
        li{
            position: relative;
            background: #E2DAEB;
            border-radius: 10px;
            text-align: center;
            padding: 2em 1em;
            width: 80%;
            margin: 0 auto 5em auto;
            
            blockquote{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #1F1135;
                opacity: 0.8;
            }

            p.card-feature-info{
                margin: 0;
                padding: 15px 31px 31px 31px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #1B1325;
            }

            img{
                width: 11em;
                height: 11em;
                border: 5px solid #E2DAEB;
                border-radius: 50%;

            }
        }

}

@media only screen and (min-width: 768px) {

    .mobile-menu, .mobile-menu-exit{
        display: none;
    }

    div.navbar{
        height: 40px;
    }

    .navbar .container{
        display: grid; 
        grid-template-columns: 180px auto;
        justify-content: unset;

        .logo{
            position: relative;
            width: 123px;
            height: 49px;
             
        }
          
    }

    .navbar nav{
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul{
            display: flex;
        }

        a{
            padding: .1em 1em;
            font-family: Raleway;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 38px;
            /* identical to box height */           
            color: #2D334A;
        }

        ul.primary-nav{
            margin: 0%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 15px 30px;
            position: relative;
            top: -32px;
            left: -0.5em;
            
              
        }

        li.current a{
            font-weight: bold;
        }


    }

    .features-section .container{

        ul{
            position: relative;
            left: 250px;
        }
       
        
        li{
            margin: 4em 1em;
            width: 40%;
            
        }

        img{
            width: 20em;
            height: 20em;
            border: 5px solid #E2DAEB;
            border-radius: 50%;
        
        }
    }
}

@media only screen and (min-width: 1080px) {
    .container{
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 4em 4em;
    }

    .hero .container{
        display: flex;
        justify-content: space-between;
        text-align: right;

        .right-col{
            margin: 1em 1em 0 3em;

            h1{
                font-family: Raleway;
                font-style: normal;
                font-weight: 900;
                font-size: 75px;
                line-height: 88px;
                text-align: right;    
            }
        
        }
    }

    .hero-img{
        width: 543px;
        height: 415px;
        margin-right: 188px;
        margin-top: 160px ;
    }

    .hero-cta{

        .primary-cta{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 25px 46px;
            
            background: #FF6E6C;
            border-radius: 38.5px;
            
            /* Inside Auto Layout */
            
            flex: none;
            order: 3;
            flex-grow: 0;
            margin: 49px 0px;
            
            position: static;
            width: 171px;
            height: 26px;
            left: 46px;
            top: 25px;
    
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            /* identical to box height */
            
            
            color: #1F1235;
            
            
            /* Inside Auto Layout */
            
            flex: none;
            order: 0;
            flex-grow: 0;
            margin: 60px 10px 30px 10px;

        }
    }

    .features-section .container{
        
        ul{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
        }

        li{
            position: relative;
            right: 20%;
            margin: 1em 1em;
        }

        &:before{
            content: '';
            position:absolute;
            width: 6%;
            height: 20em;
            background: var(--primary-color);
            left: 0;
            top: 55em;
        }

        &:after{
            content: '';
            position:absolute;
            width: 200px;
            height: 20em;
            background: url('../images/polka-dots.svg') no-repeat;
            left: 4em;
            top: 60em;

        }
    }
    
   
}